<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>MyHourBoost.com - Steam idle service</title>
   <!-- MDB icon -->
   <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
   <!-- Font Awesome -->
   
   <script src="https://kit.fontawesome.com/9ee956e522.js" crossorigin="anonymous"></script>
   <!-- Google Fonts Roboto -->
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap">
   <!-- MDB -->
   
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />
   <style>
      html, body {
         max-width: 100%;
         overflow-x: hidden;
         }

   </style>
   <link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body cz-shortcut-listen="true" class="bg-dark text-light">
   <!-- Start your project here-->

   <div id="preview" class="preview">
      <div style="display: none;"></div>
      <div>
         <div style="position: relative;" data-draggable="true" class="">
            <!---->
            <!---->
            <section draggable="false" class="container pt-0" data-v-271253ee="">
               <section class="" style="padding-bottom: 1px;">
                  <!-- Navbar -->
                  <nav class="navbar navbar-expand-lg navbar-light bg-dark text-light shadow-2 ">
                     <!-- Container wrapper -->
                     <div class="container-fluid ">
                        <div class="d-flex">
                           <!-- Toggle button --> <button class="navbar-toggler text-light" type="button"
                              data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                              aria-controls="navbarSupportedContent" aria-expanded="false"
                              aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>

                           <!-- Navbar brand -->
                           <a class="navbar-brand ms-3">

                              <i class="fas fa-hourglass-end text-primary" aria-controls="#picker-editor">
                              </i>
                              <span class="badge rounded-pill bg-primary ms-1">Beta</span>
                           </a>

                        </div> <!-- Collapsible wrapper -->

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                           <!-- Left links -->
                           <ul class="navbar-nav me-auto mb-2 ms-2 ps-1 ms-lg-0 ps-lg-0 mb-lg-0 ">
                              <li class="nav-item"> <a class="nav-link text-light" href="/"
                                    aria-controls="#picker-editor">Home</a> </li>
                              <li class="nav-item"> <a class="nav-link text-light" href="/features"
                                    aria-controls="#picker-editor">Features</a> </li>
                              <li class="nav-item"> <a class="nav-link text-light" href="/pricing"
                                    aria-controls="#picker-editor">Pricing</a> </li>
                              <li class="nav-item"> <a class="nav-link text-light" href="/support"
                                    aria-controls="#picker-editor">Support</a> </li>
                           </ul> <!-- Left links -->
                        </div> <!-- Collapsible wrapper -->
                        <!-- Right elements -->
                        
                        <div class="d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="">Welcome back,</span>
                                 <a
                                   class="dropdown-toggle"
                                   href="#"
                                   role="button"
                                   id="dropdownMenuLink"
                                   data-mdb-toggle="dropdown"
                                   aria-expanded="false"
                                 >
                                 <%= user %>
                                 </a>
                                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                   <li><a class="dropdown-item" href="/app/settings">
                                       <i class="fa-solid fa-gear fa-xl"></i>
                                       &nbsp;Settings
                                    </a></li>

                                   <li>
                                    <form action="/logout" method="get">
                                       <button type="submit" class="dropdown-item">
                                       <i class="fa-solid fa-right-from-bracket fa-xl"></i>
                                       &nbsp;Logout from account
                                       </button>
                                    </form>
                                   </li>
                                 </ul>
                               </div>

                        </div> <!-- Right elements -->
                     </div> <!-- Container wrapper -->
                  </nav> <!-- Navbar -->
               </section>
            </section>
            <!---->
         </div>
         <div style="position: relative;" data-draggable="true" class="" draggable="false">
            <!---->
            <!---->
            <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
               <section class="">
                  <!-- Background image -->
                  <div class="p-5 text-center bg-image"
                     style="background-image: url(&quot;&quot;); height: 250px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"
                     aria-controls="#picker-editor">
                     <div class="mask">
                        <div class="container h-100">
                           <div class="row d-flex justify-content-center align-items-center h-100">
                              <div class="col-lg-10">
                                 <div class="text-white pb-md-5">
                                    <h1 class="my-md-2 px-md-5 display-3 fw-bold ls-tight"> <span>Panel</span> </h1>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> <!-- Background image -->
               </section>
            </section>
            <!---->
         </div>

         <div style="position: relative;" data-draggable="true" class="">
            <!---->
            <!---->
            <section class=" text-center">

               <%if (planType === "admin") { %>
                  <a href="/admin-panel" class="btn btn-primary mb-5">Go to admin panel!</a>
               <% } %>

               <div class="row gx-lg-5">
                   <!-- Free cards -->
                  <%if (planType === "free") { %>
                  <div class="col-md-6 mb-5 mb-md-0">
                     <div class="p-3 ms-md-10 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                           <div class="card text-white bg-dark" style="max-width: 18rem; width: 450px;">
                              <div class="card-header"><i class="fa-brands fa-steam fa-lg"></i></div>
                              <div class="card-body">
                                <h5 class="card-title">Account
                                   <span class="badge rounded-pill bg-primary ms-1">Free</span></h5>
                                <p class="card-text">Steam account: <%= steamUser %></p>
                                 <%if (statusFree == "Inactive"){ %> 
                                    <p class="card-text">Status: <span style="color: rgb(231, 66, 66);">Inactive</span></p>
                                 <% }else if (statusFree == "Starting..."){%>
                                    <p class="card-text">Status: <span style="color: #b29a36 !important;">Starting...</span></p>
                                 <% }else if (statusFree == "Active"){%>
                                    <p class="card-text">Status: <span style="color: #b29a36 !important;">Active</span></p>
                                 <% } %>
                                </p>
                                <p class="card-text">Timeleft: <%= timeLeft %> hours</p>
                                <p class="card-text">Games: 0/0</p>
                                <p class="card-text">
                                 <div class="row">
                                    <div class="col mb-5">
                                       <form action="javascript:void(0);">
                                          <button type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                             <i class="fa-solid fa-triangle-exclamation fa-xl"></i>
                                          </button>
                                       </form>
                                    </div>
                                    <div class="col">
                                       <form action="javascript:void(0);">
                                          <button id="myBtn" type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                             <i class="fa-solid fa-user-gear fa-xl"></i>
                                          </button>
                                       </form>
                                    </div>
                                    <div class="col">
                                       <form action="javascript:void(0);">
                                          <button type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                             <i class="fa-solid fa-gear fa-xl"></i>
                                          </button>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col">
                                       <% if(statusFree === "Inactive"){ %>
                                          <form action="/app/start_free" method="post">
                                             <button type="submit" class="text-light" style="background-color: transparent;border: 0px;"><i class="fa-solid fa-circle-play fa-2xl" style="color:rgb(126, 116, 255) !important;"></i></button>
                                          </form>
                                          <% } else{ %>  
                                          <form action="/app/stop_free" method="post">
                                             <button type="submit" class="text-light" style="background-color: transparent;border: 0px;"><i class="fa-solid fa-circle-pause fa-2xl" style="color:green;"></i></button>
                                          </form>
                                          <% } %>
                                    </div>
                                    
                                 </div>
                                </p>

                              </div>
                            </div>
                        </div>
                  </div>
                  
                  <div class="col-md-6 mb-5 mb-md-0">
                     <div class="p-3 me-md-10 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                           <div class="card text-white bg-dark" style="max-width: 18rem; width: 450px;">
                              <div class="card-header"><i class="fa-brands fa-steam fa-lg"></i></div>
                              <div class="card-body">
                                <p class="card-text">
                                 <br>&nbsp;
                                 <br>&nbsp;
                                 <br>&nbsp;
                                 <br>&nbsp;
                                 <br>Add new account...
                                 <br>&nbsp;
                                 <a href="/pricing" class="btn btn-primary"><i class="fa-solid fa-plus fa-2xl"></i></a>
                                 <br>&nbsp;
                                 <br>&nbsp;
                                 <br>&nbsp;
                                 <br>&nbsp;
                                 <br>&nbsp;
                                 </p>
                              </div>
                            </div>
                        </div>
                  </div>
                                       <!-- Debug -->
                                       <form action="/app/reset_free" method="post">
                                          <input type="submit" value="Reset free account">
                                       </form>
                                       <!-- Debug -->
                  <% } %>
                  <!-- Free cards -->


                  <!-- Premium card -->
                  <%if (planType === "premium") { %>
                     <div class="col-md-6 mb-5 mb-md-0">
                        <div class="p-3 ms-md-5 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                              <div class="card text-white bg-dark" style="max-width: 18rem; width: 450px;">
                                 <div class="card-header"><i class="fa-brands fa-steam fa-lg"></i></div>
                                 <div class="card-body">
                                   <h5 class="card-title">Account
                                      <span class="badge rounded-pill bg-primary ms-1">Free</span></h5>
                                   <p class="card-text">Steam account: <%= steamUser %></p>
                                    <%if (statusFree == "Inactive"){ %> 
                                       <p class="card-text">Status: <span style="color: rgb(231, 66, 66);">Inactive</span></p>
                                    <% }else if (statusFree == "Starting..."){%>
                                       <p class="card-text">Status: <span style="color: #b29a36 !important;">Starting...</span></p>
                                    <% }else if (statusFree == "Active"){%>
                                       <p class="card-text">Status: <span style="color: #b29a36 !important;">Active</span></p>
                                    <% } %>
                                   </p>
                                   <p class="card-text">Timeleft: <%= timeLeft %> hours</p>
                                   <p class="card-text">Games: 0/0</p>
                                   <p class="card-text">
                                    <div class="row">
                                       <div class="col mb-5">
                                          <form action="javascript:void(0);">
                                             <button type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                                <i class="fa-solid fa-triangle-exclamation fa-xl"></i>
                                             </button>
                                          </form>
                                       </div>
                                       <div class="col">
                                          <form action="javascript:void(0);">
                                             <button id="myBtn" type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                                <i class="fa-solid fa-user-gear fa-xl"></i>
                                             </button>
                                          </form>
                                       </div>
                                       <div class="col">
                                          <form action="javascript:void(0);">
                                             <button type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                                <i class="fa-solid fa-gear fa-xl"></i>
                                             </button>
                                          </form>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col">
                                          <% if(statusFree === "Inactive"){ %>
                                             <form action="/app/start_free" method="post">
                                                <button type="submit" class="text-light" style="background-color: transparent;border: 0px;"><i class="fa-solid fa-circle-play fa-2xl" style="color:rgb(126, 116, 255) !important;"></i></button>
                                             </form>
                                             <% } else{ %>  
                                             <form action="/app/stop_free" method="post">
                                                <button type="submit" class="text-light" style="background-color: transparent;border: 0px;"><i class="fa-solid fa-circle-pause fa-2xl" style="color:green;"></i></button>
                                             </form>
                                             <% } %>
                                       </div>
                                       
                                    </div>
                                   </p>
   
                                 </div>
                               </div>
                           </div>
                     </div>
                     
                  <div class="col-md-6 mb-5 mb-md-0">
                     <div class="p-3 me-md-5 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                           <div class="card text-white bg-primary" style="max-width: 18rem; width: 450px;">
                              <div class="card-header"><i class="fa-brands fa-steam fa-lg"></i></div>
                              <div class="card-body">
                                <h5 class="card-title">Account
                                   <span class="badge rounded-pill bg-dark ms-1">Premium</span></h5>
                                <p class="card-text">Steam account: <%= steamUser_premium %></p>
                                 <%if (statusPremium == "Inactive"){ %> 
                                    <p class="card-text">Status: <span style="color: rgb(231, 66, 66);">Inactive</span></p>
                                 <% }else if (statusPremium == "Starting..."){%>
                                    <p class="card-text">Status: <span style="color: #b29a36 !important;">Starting...</span></p>
                                 <% }else if (statusPremium == "Active"){%>
                                    <p class="card-text">Status: <span style="color: #b29a36 !important;">Active</span></p>
                                 <% } %>
                                </p>
                                <p class="card-text">Timeleft: <%= timeLeft_premium %> hours</p>
                                <p class="card-text">Games: 0/0</p>
                                <p class="card-text">
                                 <div class="row">
                                    <div class="col mb-5">
                                       <form action="javascript:void(0);">
                                          <button type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                             <i class="fa-solid fa-triangle-exclamation fa-xl"></i>
                                          </button>
                                       </form>
                                    </div>
                                    <div class="col">
                                       <form action="javascript:void(0);">
                                          <button id="myBtn2" type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                             <i class="fa-solid fa-user-gear fa-xl"></i>
                                          </button>
                                       </form>
                                    </div>
                                    <div class="col">
                                       <form action="javascript:void(0);">
                                          <button type="submit" class="text-light" style="background-color: transparent;border: 0px;">
                                             <i class="fa-solid fa-gear fa-xl"></i>
                                          </button>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col">
                                       <% if(statusPremium === "Inactive"){ %>
                                          <form action="/app/start_premium" method="post">
                                             <button type="submit" class="text-light" style="background-color: transparent;border: 0px;"><i class="fa-solid fa-circle-play fa-2xl" style="color:rgb(36, 36, 36) !important;"></i></button>
                                          </form>
                                          <% } else{ %>  
                                          <form action="/app/stop_premium" method="post">
                                             <button type="submit" class="text-light" style="background-color: transparent;border: 0px;"><i class="fa-solid fa-circle-pause fa-2xl" style="color:green;"></i></button>
                                          </form>
                                          <% } %>
                                    </div>
                                    
                                 </div>
                                </p>

                              </div>
                            </div>
                        </div>
                  </div>
                   <div id="myModal2" class="modal">
                      <div class="modal-content bg-custom">
                         <h4 class="text-white">Steam Account (Premium)</h4>
                         <form action="/app/premium_account" method="post">
                            <label for="SteamUsername" style="color: #292D33;">
                            <i class="fas fa-user"></i>
                            </label>
                            <input type="text" name="SteamUsername" placeholder="Steam Username" id="SteamUsername" <% if(steamUser_premium === "None"){ %> value="" <% } else{ %>   value=<%= steamUser_premium %> readonly <% } %> required>
                            <label for="SteamPassword" style="color: #292D33;">
                            <i class="fas fa-lock"></i>
                            </label>
                            <input type="password" name="SteamPassword" placeholder="Steam Password" id="SteamPassword" required>
                            <label for="SteamSecret" style="color: #292D33;">
                            <i class="fa-solid fa-key"></i>
                            </label>
                            <input type="text" name="SteamSecret" placeholder="Steam Secret (Leave empty if none)" id="SteamSecret">
                            <% if(steamUser_premium === "None"){ %>
                            <button type="button" class="btn-custom" onclick="getElementById('myModal2').style.display = 'none'">Close</button>
                            <input type="submit" value="Confirm">
                            <% } else{ %>  
                            <% } %>
                         </form>
                         <% if(steamUser_premium === "None"){ %>
                         <% } else{ %>  
                         <form class="remove_account_form" action="/app/remove_account_premium" method="post">
                            <button type="button" class="btn-custom" onclick="getElementById('myModal2').style.display = 'none'">Close</button>
                            <input type="submit" value="Remove Account">
                         </form>
                         <% } %>
                      </div>
                   </div>
                     <!-- Debug -->
                     <form action="/app/reset_free" method="post">
                        <input type="submit" value="Reset free account">
                     </form>
                     <form action="/app/reset_premium" method="post">
                        <input type="submit" value="Reset premium account">
                     </form>
                     <!-- Debug -->
                   <!-- Premium cards -->
                   <% } %>



                    <!-- Modal Free -->
                    <div id="myModal" class="modal">
                     <div class="modal-content bg-custom">
                        <h4 class="text-white">Steam Account (Free)</h4>
                        <form action="/app/account" method="post">
                           <label for="SteamUsername" style="color: #292D33;">
                           <i class="fas fa-user"></i>
                           </label>
                           <input type="text" name="SteamUsername" placeholder="Steam Username" id="SteamUsername" <% if(steamUser === "None"){ %> value="" <% } else{ %>   value=<%= steamUser %> readonly <% } %> required>
                           <label for="SteamPassword" style="color: #292D33;">
                           <i class="fas fa-lock"></i>
                           </label>
                           <input type="password" name="SteamPassword" placeholder="Steam Password" id="SteamPassword" required>
                           <label for="SteamSecret" style="color: #292D33;">
                           <i class="fa-solid fa-key"></i>
                           </label>
                           <input type="text" name="SteamSecret" placeholder="Steam Secret (Leave empty if none)" id="SteamSecret">
                           <% if(steamUser === "None"){ %>
                           <button type="button" class="btn-custom" onclick="getElementById('myModal').style.display = 'none'">Close</button>
                           <input type="submit" value="Confirm">
                           <% } else{ %>  
                           <% } %>
                        </form>
                        <% if(steamUser === "None"){ %>
                        <% } else{ %>  
                        <form class="remove_account_form" action="/app/remove_account_free" method="post">
                           <button type="button" class="btn-custom" onclick="getElementById('myModal').style.display = 'none'">Close</button>
                           <input type="submit" value="Remove Account">
                        </form>
                        <% } %>
                     </div>
                     </div>
                     <!-- Modal Free -->


               </div>
            </section>
            <!---->
         </div>
      </div>
   </div>
   <footer class="bg-dark text-center text-lg-start fixed-bottom">
      <!-- Copyright -->
      <div class="text-center p-3">
         <p class="col-md-4 mb-0 text-muted">© 2022 MyHourBoost, made by <a href="https://lupucl.com">lupucl</a> </p>
      </div>
      <!-- Copyright -->
   </footer>
   <!-- End your project here-->

   <!-- MDB -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
   <!-- Custom scripts -->
   <script type="text/javascript"></script>
   <script>
      var modal = document.getElementById("myModal");
      var btn = document.getElementById("myBtn");
      var modal2 = document.getElementById("myModal2");
      var btn2 = document.getElementById("myBtn2");
      btn.onclick = function() { modal.style.display = "block"; }
      btn2.onclick = function() { modal2.style.display = "block"; }
      window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }else if(event.target == modal2){
          modal2.style.display = "none";
      }
      }
</script>

</body>

</html>